<div class="col l12 s12">

  <div class="card margin white" *ngFor="let post of posts">
    <div class="container">
      <h2><b>{{post.title}}</b></h2>
      <h3>{{post.subtitle}}, <span class="opacity">{{post.publication_date | date}}</span></h3>
    </div>

    <div class="container">

      <!-- Foi criado um pipe para exibir sempre o primeiro paragrafo -->
      <div [innerHTML]="post.comment | firstParagraph"></div>

      <div class="row">
        <div class="col m8 s12">
          <p><button type="button" [routerLink]="['./', post.id]" class="button padding-large white border"><b>Ler mais &raquo;</b></button></p>
        </div>

      </div>
    </div>
  </div>
</div>
