<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="light-grey">

  <div class="content">

    <!-- header component -->
    <app-header></app-header>

    <div class="row">
      <!-- Router -->
      <router-outlet></router-outlet>
      
    </div>
  </div>

  <!-- footer -->
  <app-footer></app-footer>
</body>

</html>
